@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  width: calc(100vw - 1rem);
  height: calc(100vh - 1rem);
}

.page-content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: #7ec4ff;
}

.grid-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #4f4f4e;
  font-optical-sizing: auto;
}

.title {
  font-family: "Lora", serif;
  font-size: 3.5rem;
  font-weight: 700;
  background-color: #fee252;
  max-width: 40rem;
  margin: 0;
}

.text {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.img {
  height: 100%;
}
